body{
    font-family: monospace;
}
ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
#msg{
    font-family: monospace;
}
.light-theme{
    color: #000000;
    background: #00FF00;
}
:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
.light-theme{
    --bg:var(--green);
    --fontColor: var(--black);
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
}
*{
    color: var(--fontColor);
    font-family: helvetica;
}
body{
    background: var(--bg);
}